In [32]:
import pandas as pd
data = pd.read_csv('titanic.csv')
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [33]:
data.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)

In [34]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [35]:
data['Sex']=le.fit_transform(data['Sex'])
data.columns[data.isna().any()]

Index(['Age'], dtype='object')

In [36]:
data['Age'][:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [37]:
data['Age']= data['Age'].fillna(data['Age'].mean())

In [38]:
data.columns[data.isna().any()]

Index([], dtype='object')

In [39]:
X = data.drop(['Survived'],axis='columns')
y = data['Survived']

In [40]:
from sklearn.model_selection import train_test_split

In [41]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)

In [42]:
from sklearn.naive_bayes import GaussianNB

In [43]:
model = GaussianNB()

In [44]:
model.fit(X_train,y_train)

GaussianNB()

In [45]:
model.score(X_test,y_test)

0.7653631284916201

In [46]:
X_test[:10]

     Pclass  Sex        Age      Fare
337       1    0  41.000000  134.5000
457       1    0  29.699118   51.8625
430       1    1  28.000000   26.5500
577       1    0  39.000000   55.9000
365       3    1  30.000000    7.2500
436       3    0  21.000000   34.3750
589       3    1  29.699118    8.0500
108       3    1  38.000000    7.8958
142       3    0  24.000000   15.8500
26        3    1  29.699118    7.2250

In [47]:
y_test[:10]

337    1
457    1
430    1
577    1
365    0
436    0
589    0
108    0
142    1
26     0
Name: Survived, dtype: int64

In [54]:
model.predict(X_test[:10])

array([1, 1, 0, 1, 0, 1, 0, 0, 1, 0])